@import "components/leaders";
@import "components/counters";
@import "components/contactUs";
@import "components/aboutUs";
@import "components/gallery";


.placeholder {
  font-size: 15px;

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }
}