$dark-orange: #a95e39;
$pale-orange: #F17B43;
$header-menu-color: #E6E4E4;
$header-menu-item: #302f2f;
$header-menu-item-bg: #76929A;
$footer-menu-color: #d2d3d7;
$dark-gray: #8A8F90;
$light-gray: #B7BEC0;
$dark-blue: #032932;
$text-color: #000;
