@font-face {
  font-family: 'Baskervville';
  font-weight: 400;
  src: url('../../../fonts/Baskervville/Baskervville-regular.woff');
  src: url('../../../fonts/Baskervville/Baskervville-regular.woff2');
  src: url('../../../fonts/Baskervville/Baskervville-regular.ttf');
}

