@font-face {
  font-family: 'VaniBold';
  font-weight: 400;
  src: url('../../../fonts/VaniBold/VaniBold.woff');
  src: url('../../../fonts/VaniBold/VaniBold.woff2');
  src: url('../../../fonts/VaniBold/VaniBold.ttf');
}

