@font-face {
  font-family: 'QuattrocentoSans';
  font-weight: 400;
  src: url('../../../fonts/QuattrocentoSans/QuattrocentoSans-regular.woff');
  src: url('../../../fonts/QuattrocentoSans/QuattrocentoSans-regular.woff2');
  src: url('../../../fonts/QuattrocentoSans/QuattrocentoSans-regular.ttf');
}

