.r-placeholder {
  fot-size: 14px;
  font-family: Athelas;
  text-align: center;


  &__title {
    text-transform: uppercase;
    color: $orange;
    margin-bottom: 30px;
    text-align: center;
  }
}