.header-logo {
  text-align: left;
  margin: 0;

  a {
    display: inline-block;
    padding: 30px;
    text-decoration: none;
    color: rgba(215, 121, 74, 0.71);
    font-size: 12px;

    &:hover,
    &:active,
    &:focus {
      color: $pale-orange
    }
  }
}


.menu {
  $self: &;
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  background-color: $dark-gray;
  width: 100%;
  position: absolute;
  top: 0;
  height: calc(100vh - 75px);
  flex-direction: column;
  right: -100%;
  transition: 0.25s linear;
  opacity: 0;

  &-wrapper {
    overflow: hidden;
    position: relative;
  }

  &.active {
    right: 0;
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
    position: static;
    flex-direction: row;
    height: auto;
    opacity: 1;
  }

  &__item {
    margin: 0 5px;

    &:focus,
    &:hover,
    &:active {
      background-color: $header-menu-item-bg;
    }
  }

  &__item-link {
    color: $header-menu-color;
    text-decoration: none;
    padding: 16px;
    display: inline-block;
    font-size: 10px;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
      color: $header-menu-item;
    }
  }
}


/*
* sidebar btm
*/

.sidebarBtn {
  color: $orange;
  font-size: 30px;
  display: block;
  position: absolute;
  right: 0;
  z-index: 10;
  top: 15px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}
