@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  src: url('../../../fonts/Helvetica/Helvetica-regular.woff');
  src: url('../../../fonts/Helvetica/Helvetica-regular.woff2');
  src: url('../../../fonts/Helvetica/Helvetica-regular.ttf');
}

