@font-face {
  font-family: 'MyriadPro';
  font-weight: 400;
  src: url('../../../fonts/MyriadPro/Myriadpro-regular.woff');
  src: url('../../../fonts/MyriadPro/Myriadpro-regular.woff2');
  src: url('../../../fonts/MyriadPro/Myriadpro-regular.ttf');
}

