.contact {
  padding: 100px 15px 80px;
  background-color: $dark-blue;
  color: #fff;
  display: flex;

  @include media-breakpoint-up(md) {
    padding: 150px 15px 80px;
  }

  form {
    padding-top: 30px;
  }

  &__text {
    font-size: 14px;
    font-family: QuattrocentoSans;
    max-width: 400px;
    margin: 0 auto;
    color: $light-gray;
    text-align: center;
  }

  &__title {
    color: #fff;
    font-family: Athelas;
    font-size: 33px;
    margin-bottom: 25px;
  }

  input,
  select,
  textarea {
    font-family: QuattrocentoSans;
    width: 100%;
    border: none;
    border-bottom: 2px solid $light-gray;
    background-color: $dark-blue;
    color: $light-gray;
    outline: none;
    padding-bottom: 10px;
  }

  select {
    //height: 100%;
  }

  textarea {
    height: 80px;
  }

  input::placeholder,
  textarea::placeholder {
    color: $light-gray;
  }

  select {
    margin-bottom: 0;

    option {
      color: #fff;
    }
  }

  &__btn {
    display: block;
    margin: 20px 10px 0 auto;
    background-color: #89553b;
    color: #fff;
    border: 1px solid #623621;
    outline: none;
    padding: 8px 25px;
    font-family: MyriadPro;
    transition: .2s linear;

    &:hover {
      background-color: transparent;
    }
  }
}


.field-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  padding-bottom: 30px;

  &__warning {
    position: absolute;
    bottom: 10px;
    color: $orange;
    width: 100%;
    text-align: center;
  }
}