@font-face {
  font-family: 'Athelas';
  font-weight: 400;
  src: url('../../../fonts/Athelas/Athelas-regular.woff');
  src: url('../../../fonts/Athelas/Athelas-regular.woff2');
  src: url('../../../fonts/Athelas/Athelas-regular.ttf');
}

